html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: gold;
}

img {
  border: 0;  
}


/* HEADINGS */
html, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  margin: none !important;  
  margin: none !important;
  font-family: Lucida, sans-serif;
  font-size: 30pt;
  font-weight: bold;
  font-style: italic;
  color: white;
}

h2 {
  color: #2e6e9e;  
}

h2 {
  font-size: 1.2em;  
}

h2 > a {
  color: #2E6E9E !important;
}

h2 > a:visited {
  color: #2E6E9E !important;
}

h2 > a:hover {
  color: #2E6E9E !important;
}


h3 {
  color: black;
  font-size: 1.1em;  
}

h4 {
  color: #444;
  margin: 0 0 0 5px;
  font-weight: bold;  
}

/*
 * SPECIAL TEXT STYLES
 */
.strong-text {
  font-weight: bold;
}
.noWrap {
  white-space: nowrap;  
}
.superScript {
  font-size: 8pt !important;
  vertical-align: top !important;  
}
.smallGreyText {
  font-size: 80% !important;
  color: #666 !important;  
}
.noBottomMargin {
  margin-bottom: 0 !important;  
}

/* LINKS */

a:link, a:visited {
  color: #1E5EEE;
  text-decoration: none;
}


.linkColors:link, .linkColors:visited, .linkColors:active, .linkColors {
  color: #1E5EEE !important;
}


.linkColors:hover {
  color: #e50 !important;  
}

a:hover,a:active {
  
}


/* Component containers
----------------------------------*/
.ui-widget { /*font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em;*/ }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { /*font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em;*/ }
.ui-widget-content { border: 1px solid #a6c9e2; background: #fcfdfd 50% bottom repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #4297d7; background: gold 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;  }
.ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px;}
.ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-top { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-right {  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-left { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}


.dynamictable {
 /* border: 1px solid #ccc;*/
  width: auto;
  overflow: hidden;
  margin-top: 5px;
  padding: 0.2em;
}


/** when sorting is disabled the ocupacity shoudnt change */
.dynamictable .ui-state-disabled { 
	opacity: 1; !important;
	filter:Alpha(Opacity=100) !important;
}


.dynamictable-caption {
	font-weight:bold;
	height:19px;
	padding: 4px 0 0 0.5em;
	font-size: 12pt;
}


.dynamictable-caption div {
  margin-top: 2px;  
}


.dynamictable-caption-block {
  height: 25px !important;
  width: auto !important;
}


.dynamictable a:link, .dynamictable a:visited {
  color: #1E5EEE;
  text-decoration: none;
}

.dynamictable a:hover, .dynamictable a:active {
  color: #e50;
}


.debug_dump {
  text-align: left;
  border-top: 1px dashed black;
  background: #ccc;
  margin: 0;
  padding: 0.5em;
}


#login-box {
  margin-right: 50px;
  margin-bottom: 35px;
  color: #3e0a06;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


#login-box p {
  margin-top: 18px;
  margin-bottom: 1px;
  margin-right: 75px;
}

#empty-login {
  margin-right: 10px;
  margin-bottom: 65px;
  color: #ffffff;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#empty-login p {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 75px;
}


#branding {
  margin-right: 50px;
  margin-bottom: 35px;
  color: #3e0a06;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


#branding p {
  margin-top: 18px;
  margin-bottom: 1px;
  margin-right: 75px;
}


#profile-main {
  width: auto;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  float: center;
}

#profile-sidebar {
  float: left;
  width: 250px;
  height: 600px;
}
