<br clear="all"/>
<% if @user.invitation_limit > 0 %>
  <% form_remote_tag :url => { :controller => "user", 
                               :action => "invite"} do -%>
    <%= text_field_tag :email, '', 
                       :size => Invitation::EMAIL_SIZE, 
                       :max_length => Invitation::EMAIL_MAX_LENGTH %>
    <%= submit_tag "Invite", :disable_with => "Wait..." %>
  <% end %>
  <div id="invitations-remaining">
    <%= render :partial => "invitations/invitations_remaining", :locals => { :user => @user } %>
  </div>
<% end %>
