<table>
  <tr>
    <td>Screen Name</td>
    <td><%= @user.name %>
  </tr>
  <tr>
    <td>Forename</td>
    <td><%= @user.forename %>
  </tr>
  <tr>
    <td>Surname</td>
    <td><%= @user.surname %>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %>
  </tr>
</table>
